<template lang="html">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="alert alert-info">Info: Click on a Quote to delete it!</div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
