<template lang="html">
  <div class="row">
    <app-quote v-for="(quote, index) in quotes" @click.native="deleteQuote(index)"> {{ quote }} </app-quote>
  </div>
</template>

<script>
import Quote from './Quote.vue'
export default {
  props: ['quotes'],
  components: {
    appQuote: Quote
  },
  methods: {
    deleteQuote(index){
      this.$emit('quoteIsDeleted', index)
    }
  }
}
</script>

<style lang="css">
</style>
