<template>
    <div class="container">
      <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
      <app-new-quote @quoteAdded="newQuote"></app-new-quote>
      <app-quote-grid :quotes="quotes" @quoteIsDeleted="deleteQuote"></app-quote-grid>
      <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './components/Header.vue'
    import QuoteGrid from './components/QuoteGrid.vue'
    import NewQuote from './components/NewQuote.vue'
    import Footer from './components/Footer.vue'
    export default {
      data: function(){
        return {
          quotes: [],
          maxQuotes: 10
        }
      },
      methods: {
        newQuote(quote){
          if(this.quotes.length >= this.maxQuotes){
            alert('Maximum number of quotes are '+ this.maxQuotes)
            return
          }
          this.quotes.push(quote)
        },
        deleteQuote(index){
          this.quotes.splice(index, 1)
        }
      },
      components: {
        appHeader: Header,
        appQuoteGrid: QuoteGrid,
        appNewQuote: NewQuote,
        appFooter: Footer
      }
    }
</script>

<style>
</style>
